body{
    background: #ffe259;
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  
    background: linear-gradient(to right, #ffa751, #ffe259); 
}
main{
    background:white;
}
.bg{
    background-image: url(https://image.freepik.com/foto-gratis/vista-frontal-concepto-ciencia-frasco_23-2148623715.jpg);
    background-position: center center;
}        
  
.nav{
    background: white;
}
.a{
    background: #F2CB05;
}

.btnB{
    background-color:#F2CB05 ;
    color: white;
}

footer{
    background: #011C40;
    color: white;
    clear: both;
    padding: 20px 0px;
    text-align: center;
}